.page {
  background: 
    var(--background-image) no-repeat top center,
    var(--background-color);
  background-attachment: fixed;
  background-size: auto 768px;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: 18px;
}

@media (width >= 375px) and (width < 768px) {
  .page {
    background-size: auto 668px;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .page {
    background-size: auto 1024px;
  }
}

.header {
  padding: 20px;
  position: relative;
}

@media (width >= 375px) and (width < 768px) {
  .header {
    padding: 10px;
  }
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  right: 50px;
}

@media (width >= 375px) and (width < 768px) {
  .header__rec {
    top: 10px;
    right: 40px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 7px 0 0 10px;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

@media (width >= 768px) and (width < 1024px) {
  .header__theme-menu {
    padding-top: 190px;
  }
}

@media (width >= 375px) and (width < 768px) {
  .header__theme-menu {
    padding-top: 75px;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (width >= 375px) and (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 3px 13px;
  border: transparent;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  text-decoration: 1px underline;
  text-underline-offset: 1px;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title-container {
  padding: 238px 0 116px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

@media (width >= 375px) and (width < 768px) {
  .header__title-container {
    padding: 70px 0 44px;
    gap: 57px;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .header__title-container {
    padding: 150px 0 143px;
    gap: 133px;
  }
}

.header__title {
  font-size: 157px;
  font-weight: 700;
  margin-left: -20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

@media (width >= 375px) and (width < 768px) {
  .header__title {
    font-size: 116px;
    margin-left: 0;
    line-height: 82.5%;
  }
}

@media (width <= 768px) and (width < 1024px) {
  .header__title {
    font-size: 120px;
  }
}

.header__text {
  color: var(--text-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
}

@media (width < 768px) {
  .header__text {
    width: 100%;
  }
}

.title-decor {
  background: var(--title-decor);
}

.main {
  padding: 20px;
  margin-top: 38px;
  margin-bottom: 40px;
  display: grid;
  gap: 80px;
}

@media (width >= 375px) and (width < 768px) {
  .main {
    padding: 10px;
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 50px;
  }
}

.section {
  line-height: 130%;
}

.section:first-of-type, .section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section:nth-of-type(2) {
  .section__text-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .section__title {      
      width: 30%;
  }
  .section__text-item {
    display: block;
  }
  .section__text {
    padding-top: 10px;
  }
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.section__text-list {
  display: grid;
  gap: 20px;
}

.section__text-item {
  display: grid;
  gap: 10px;
}

.section__text-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-title-color);
}

.section__title_regular {
  font-weight: 400;
}

.section__list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-title-color);
}

.section__text-link {
  border: transparent;
  text-decoration: none;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

@media (width >= 375px) and (width < 768px) {
  .section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .section:nth-of-type(2) {
    .section__title {
      width: 100%;
    }
    .section__text-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .section:nth-of-type(3) {
    display: block;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .section:first-of-type {
    gap: 20px;
  }
  .section:nth-of-type(2) {
    .section__text-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .section:nth-of-type(3) {
    gap: 20px;
    .section__title {
      width: 100%;
    }
  }
}

.section__list-image {
  display: grid;
}

@media (width >= 768px) {
  .section__list-image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

@media (width >= 768px) {
  .section__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section__image:first-of-type,
  .section__image:last-of-type {
    grid-column: span 2;
  }

  .section__image:nth-of-type(2),
  .section__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section__list-image .section__image {
    width: 100%;
    height: auto;
  }
}

@media (width < 768px) {
  .section__list-image {
    gap: 10px;
  }
}

.dark-title {
  color: var(--text-title-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  padding: 20px 20px;
  position: relative;
}

.footer__title {
  font-size: 157px;
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width >= 375px) and (width < 768px) {
  .footer { 
    min-height: 668px;
  }
  .footer__title {
    font-size: 116px;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1024px;
  }
  .footer__title {
   font-size: 120px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

@media (width >= 375px) and (width < 768px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 12px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

@media (width >= 375px) and (width < 768px) {
  .decorated-zone::after {
    right: 10px;
    top: 9px;
  }
}